@model VictoriasFood.Models.Category
@{
    ViewBag.Title = "Create Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="well-sm-2">
    <div class="container">
        <div class="row text-center text-md-left">
            <div class="col-md-12">
                <h2>Create New Category</h2>

                @using (Html.BeginForm("CreateCategoryInDatabase", "Category"))
                {
                    <div class="edit-form-group">
                        <table>
                            <tr>
                                <th>
                                    @Html.LabelFor(m => m.categoryTitle)
                                </th>
                                <td>
                                    @Html.TextBoxFor(m => m.categoryTitle, new { placeholder = "Type here" })
                                    @Html.ValidationMessageFor(m => m.categoryTitle)
                                </td>
                            </tr>
                        </table>

                        <table>
                            <tr>
                                <th>
                                    @Html.LabelFor(m => m.categoryDescription)
                                </th>
                                <td>
                                    @Html.TextBoxFor(m => m.categoryDescription, new { placeholder = "Type here" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table>
                        <tr>
                            <th>
                                @Html.AntiForgeryToken()
                                <div class="mfControls ">
                                    <button type="submit" class="btn btn-sm btn-primary save-edit">Save</button>
                                </div>
                            </th>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</section>

