<!-- logo + Search -->
<section class="well-xs bg1 display-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 wow fadeInLeft">
                <div class="rd-navbar-brand offset-1">
                    <span class="brand-name text-primary text-bold">@Html.ActionLink("Food", "Index", "Home")<br> <span>@Html.ActionLink("recipes", "Index", "Home")</span></span>
                    <span class="brand-slogan text-thin">@Html.ActionLink("Tasty ideas", "Index", "Home")</span>
                </div>
            </div>
            <div class="col-md-4 col-md-preffix-5 wow fadeInRight block1">
                <h3 class="line-height-1 text-default-1 text-bold">
                    Hungry?<br>
                    Find here<br>
                    the best recipes
                </h3>
                <div class="login">
                    <button data-toggle=".rd-navbar-info" class="active-toggle">
                        <span class="fa fa-user text-primary"></span>Log in
                    </button>
                    <div class="rd-navbar-info">
                        <h2>
                            Login form:
                        </h2>
                        <!-- form -->
                        @model VictoriasFood.Models.LoginViewModel
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address", type = "text", name = "email" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", type = "password" })

                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                            @*@Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { id = "forgotPasswordLink" })*@
                            <div class="mfControls ">
                                <input type="submit" value="Log in" class="button btn btn-sm btn-primary" id="loginLink" style="height: auto;" />
                            </div>
                                @Html.ActionLink("or register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "text-uppercase text-bold" })

                        }                        
                        <!-- END form -->
                    </div>
                </div>
                <!-- RD Navbar Search -->
                @using (Html.BeginForm("SearchRecipes", "Recipe"))
                {
                <div class="rd-navbar-search rd-navbar-search1"> 
                    <label class="rd-navbar-search-form-input">
                        <input type="text" name="searchInputText" id="searchInputText" placeholder="Search recipes" autocomplete="off" />
                    </label>
                  
                    <button type="submit" class="rd-navbar-search-form-submit" id="search-submit"></button> 
                    <span class="rd-navbar-live-search-results"></span>
                    <button type="submit" class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"></button>
                </div>
                <!-- END RD Navbar Search -->
                }
            </div>
        </div>
    </div>
</section>
<!-- END logo + Search -->